<html>
    <head>
        <script type="text/javascript"
                src="https://www.google.com/jsapi?autoload={
                'modules':[{
                'name':'visualization',
                'version':'1.0',
                'packages':['line','corechart']
                }]
                }"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="/chart.js"></script>
        <script type="text/javascript" src="/viewer.js"></script>
    </head>
    <body>
        <h1 id="loading">Loading</h1>
        <select id="list_streams" name="Viewer">
        </select>
        <div id="curve_chart"></div>
    </body>
</html>
